{% extends 'accounts/main.html' %} {% block content %} {% include
'accounts/status.html' %}
<h2>Upload Image</h2>
<br />
<form
  action="{% url 'predictImage' %}"
  method="post"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="form-group">
    <label for="image">Image</label>
    <input
      type="file"
      class="form-control-file"
      id="image"
      name="image"
      accept="image/png, image/jpeg"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

<h1>The answer is {{txt}}</h1>

<img src="../../../static/images/image.jpg" alt="output" />

{% endblock content %}
